<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies Club</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/watch_list.css' %} ?20181209">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/watch_list.css">

    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
</head>

<body>
    <header>
        <div class="container-fluid" >
            <div class="row  head align-items-center justify-content-center px-5 py-2">
                <div class="col-2">
                    <img src='../static/img/project_logo1.png' class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-1">
                    <a href="#" class="btn btn-dark btn-sm ms-3" style="color: #ffc107; font-size:16px;">Home</a>
                </div>
                <div class="col-1">
                    <a href="#" class="btn btn-dark btn-sm ms-3" style="color: #ffc107; font-size:16px;">About us</a>
                </div>
                <div class="col-6">
                    <a href="#" class="btn btn-dark btn-sm ms-3" style="color: #ffc107; font-size:16px;">Contact us</a>
                </div>
                <div class="col-1">
                    <a href="#" class="btn outline-warning btn-sm ms-3" style="color: #ffc107; font-size:16px;">{{user.first_name}}</a>
                </div>
                <div class="col-1">
                    <a href="/" class="btn btn-warning btn-sm ms-2" style="font-size:16px; width:fit-content;">logout</a>
                </div>
            </div>
        </div>
    </header>
    <nav>
        <div class="container-fluid">
            <div class="row  head align-items-center justify-content-center px-5 py-2 ">
                <div class="col-1">
                    <a href="#" style="color: black; font-size:18px;">Movies</a>
                </div>
                <div class="col-1">
                    <a href="#" style="color: black; font-size:18px;">TV Shows</a>
                </div>
                <div class="col-1 watch">
                    <a href="#" style="color: black; font-size:18px;">Watch List</a>
                </div>
                <div class="col-1">
                    <a href="#"  style="color: black; font-size:18px;">Favorites</a>
                </div>
                <div class="nav-item dropdown col-3">
                    <a class="nav-link dropdown-toggle" href="#" role="button"   data-bs-toggle="dropdown" style="color: black;font-size:16px">
                        categories
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/category/action">Action</a></li>
                        <li><a class="dropdown-item" href="/category/drama">Drama</a></li>
                        <li><a class="dropdown-item" href="/category/comedy">Comedy</a></li>
                        <li><a class="dropdown-item" href="/category/romantic">Romantic</a></li>
                        <li><a class="dropdown-item" href="/category/thriller">Thriller</a></li>
                        <li><a class="dropdown-item" href="/category/fantasy">Fantasy</a></li>
                    </ul>
                </div>
                <div class="col-1 watch">
                    <a href="/my_movies" style="color: black; font-size:16px;">My Movies</a>
                </div>
                    <form class="d-flex col-3" action="/movies/search" method="post">
                        {% csrf_token %}
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search" id="movie_title">
                        <button class="btn btn-outline-warning btn-sm" type="submit" style="color:black;">Search</button>
                    </form>
            </div>
        </div>
    </nav>

    <div class="container-fluid  mainbody">
        <div class="row align-items-center justify-content-start ">
            {% for movie in movies%}
            <div class="card col-3 bg-gardient mx-3" style="height: 500px;">
                <img  src="https://upload.wikimedia.org/wikipedia/commons/b/b5/12_Angry_Men_%281957_film_poster%29.jpg"class="card-img-top" alt="movie_cover">
                <div class="card-body">
                    <h5 class="card-title">{{movie.title}}</h5>
                    <p class="card-text overflow-auto" style="height: 70px;">{{movie.desc}}</p>
                    <a href="#" class="btn btn-warning">Details</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
            
    <!-- jquery autocomplete for the search box -->
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
    <script>
    $( function() {
        $( "#movie_title" ).autocomplete({
        source: '{% url "search_result" %}'
        });
    } );
    </script>
</body>

</html>