<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="stylesheet" href="../static/css/watch_list.css">
</head>

<body>
    <header>
        <div class="container-fluid" >
            <div class="row  head align-items-center justify-content-center px-5 py-2">
                <div class="col-2">
                    <img src="C:\Users\lenovo\OneDrive\Desktop\python project\movie_library\movie_proj\static\img\project_logo1.png" alt="Movies House" height="50px" >
                </div>
                <div class="col-1">
                    <a href="#" class="btn btn-dark btn-sm ms-3" style="color: #ffc107; font-size:16px;">Home</a>
                </div>
                <div class="col-1">
                    <a href="#" class="btn btn-dark btn-sm ms-3" style="color: #ffc107; font-size:16px;">About us</a>
                </div>
                <div class="col-6">
                    <a href="#" class="btn btn-dark btn-sm ms-3" style="color: #ffc107; font-size:16px;">Contact us</a>
                </div>
                <div class="col-1">
                    <a href="#" class="btn outline-warning btn-sm ms-3" style="color: #ffc107; font-size:16px;">Login</a>
                </div>
                <div class="col-1">
                    <a href="#" class="btn btn-warning btn-sm" style="font-size:16px;">Sign Up</a>
                </div>
            </div>
        </div>
    </header>
    <nav>
        <div class="container-fluid">
            <div class="row  head align-items-center justify-content-center px-5 py-2 ">
                <div class="col-1">
                    <a href="#" style="color: black; font-size:18px;">Movies</a>
                </div>
                <div class="col-1">
                    <a href="#" style="color: black; font-size:18px;">TV Shows</a>
                </div>
                <div class="col-1 watch">
                    <a href="#" style="color: black; font-size:18px;">Watch List</a>
                </div>
                <div class="col-1">
                    <a href="#"  style="color: black; font-size:18px;">Favorites</a>
                </div>
                <div class="nav-item dropdown col-1">
                    <a class="nav-link dropdown-toggle" href="#" role="button"   data-bs-toggle="dropdown" style="color: black;font-size:16px">
                        categories
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Drama</a></li>
                        <li><a class="dropdown-item" href="#">Comedy</a></li>
                        <li><a class="dropdown-item" href="#">Thriller</a></li>
                        <li><a class="dropdown-item" href="#">Fantasy</a></li>
                    </ul>
                </div>
                <div class="col-3"></div>
                    <form class="d-flex col-3">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-warning btn-sm" type="submit" style="color:black;">Search</button>
                    </form>
            </div>
        </div>
    </nav>
    <div class="main_movie">
        <div class="card text-center">
            <div class="card-header">
                Featured
            </div>
            <div class="card-body">
                <div class="card mb-3" style="max-width: 940px; max-height: 600px;">
                    <div class="row g-0 flex">
                        <div class="col-md-4">
                            <iframe width="400" height="300" src="https://www.youtube.com/embed/xuAtSIeM-oI"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural
                                    lead-in to additional content. This content is a little bit longer.</p>
                                <button type="button" class="btn btn-warning"><a href="#"></a>add to favorit</button> <button type="button" class="btn btn-warning"><a href="#"></a>Rank</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer text-muted">
                2 days ago
            </div>
        </div>
        <div class="comment">
            <form style="width: 600px;"  class="post" action="/post/{{message_user.id}}" method="post">
                <!-- {% csrf_token %} -->
                <!-- <input type="hidden" name="which_form" value="post_coment"> -->
                <textarea style="width: 600px;" name="coment" id="" cols="30" rows="4" placeholder="add a comment"></textarea>
                <div style="text-align: end;"><button type="button" class="btn btn-warning ">Comment</button></div>
            </form>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>